<!DOCTYPE html>
<html>
<head>
	<title>Educator Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form>
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello !</h1>
    <p class="lead">
    	 <div class="row">
    <div class="col">
     	<div class="card" style="width: 18rem;">
     		<div style="margin:auto;margin-top:2rem;"><img class="card-img-top" src="images/test.png" alt="Card image cap" style="height:200px; width:200px; "></div>
  
  <div class="card-body">
    <h5 class="card-title">Create Test</h5>
    <p class="card-text">Create a new TEST!</p>
      <a href="create_exam"  class="btn btn-outline-info">Create Test</a>
      
  </div>
</div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
    <div style="margin:auto;margin-top:2rem;" ><img class="card-img-top" src="images/report.png" alt="Card image cap" style="height:200px; width:200px;padding:auto;"></div>
  
  <div class="card-body">
    <h5 class="card-title">View Student's Report</h5>
    <p class="card-text">View the student's performance.</p>
    <a href="result" class="btn btn-outline-info">View Performance</a>  
    
  </div>
</div>
  <br><br>
  <div>

    <a href="signout" class="btn btn-outline-info" type="submit">SIGN OUT</a>

  </div>
    </div>
    
  </div>
</div>	
</form>
</body>
</html>